.public-container{
    width:1100px;
    margin:0 auto;
    overflow: hidden;
    /* background:#f40; */
}

.public-header{
    width:100%;
    height:110px;
    /* background:#ccc; */
}
.public-header .header-logo{
    float:left;
}
.public-header .header-nav{
    float:right;
    font-size:14px;
}
.public-header .header-nav .item{
    float:left;
    margin-top:44px;
    margin-right:50px;
}
.public-header .header-nav .item a{
    color:#000;

}
.public-header .header-logo a{
    width:182px;
    height:54px;
    margin-top:40px;
    background:url("../img/index-header-logo.jpg")no-repeat; 
}

.public-footer{
    width:100%;
    height:218px;
    padding-top:100px;
    margin-top:100px;    
    background:#3b3b3b;
}
.public-footer .foot-col{
    float:left;
    width:230px;
    margin-right:60px;
    font-size:16px;
    color:#fff;
    line-height:1.8;
}
.public-footer .foot-col:last-child{
    margin-right:0;
}
.public-footer .foot-col .footer-logo{
    width:200px;
    height:65px;
    background:url(../img/index-footer-logo.png)no-repeat;
}