body,
div,
ul,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
input,
form,
a,
p {
    margin: 0;
    padding: 0;
    /*可以设定字体*/
}
input{
    border:none;
}
p{
    font-size: 16px;
    color:#c7c2bc;
}
ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
    color: #fff;
}

img {
    display: block;
    /*把img设置为块级元素*/
    border: none;
}

.clearfloat {
    zoom: 1;
}

.clearfloat:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}