body{
    padding:0 120px;
}
h2{
    font-size:36px;    
}
.wrapper .info{
    font-size:22px;
    font-weight:bold;
}
.wrapper .mesage .msg{
    font-weight:bold;
}
dd{
    list-style:none;
    margin:0;
    padding:0;
}