.nav{
	height:50px;
	margin-top:110px;
}
ul{
	list-style:none;

}
ul li{
	
	float:left;
	margin-left:30px;
	
	
}
/*ul::after{
	content:"";
	display:block;
	clear:both;
}*/
ul li a{
	border-radius:15%;
	display:inline-block;
	text-decoration:none;
	padding:10px 20px;
	color:#000000;
	font-weight:bold;
}
ul li a:hover{
	background-color:#FF4400;
	color:#fff;
}
