/*body{
	background-color:#0ff;
}*/
*{
	margin:0;
	padding:0;
}
.wrapper{
	width:420px;
	height:180px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-90px;
	margin-left:-210px;
}

.circle1,
.circle2,
.circle3,
.circle4,
.circle5{
	width:100px;
	height:100px;
	border:10px solid #000;
	border-radius:50%;
	position:absolute;
}

.circle1{
	top:0;
	left:0;
	border-color:blue;
}
.circle2{
	top:0;
	left:150px;
	z-index:3;
	border-color:black;
}
.circle3{
	top:0;
	left:300px;
	border-color:red;
}
.circle4{
	top:60px;
	left:75px;
	border-color:yellow;
}
.circle5{
	top:60px;
	left:225px;
	border-color:green;
}

