*{
    margin:0px;
    padding:0px;
    list-style:none;
}
body{
    background: #e3e3e3;
}
.wrapper{
    width:75%;
    border:1px solid #ccc;
    margin:0px auto;
}
.wrapper .photoBox ul{
    margin:10px;
    overflow: hidden;    
}
.wrapper .photoBox ul li{    
    float:left;    
    margin-right:12px;
    transition:all 100ms ease-in-out;
}
.wrapper .photoBox img{
    width:40px;
    height:40px;
}

.photoView{
    position:relative;    
    margin-top: 10px;
    width:0;
    height:0;
    overflow: hidden;
    background-color: #f2f2f2;
}
.navLeft, .navRight{
    width:40px;
    position:absolute;
    top:50%;
    display:block;
    text-decoration:none;
}
.navLeft{
    left:8px;
}
.navRight{
    right:8px;
}
.navicon{
    font-size: 40px;
    font-style: normal;
    color: #f23d6a;
    cursor: pointer;
}
.active{
    border:2px solid #f99;
}
