*{
    margin:0;
    padding:0;
}
body{
    background:#ccc;
}

.start{
    width:60px;
    height:45px;
    background:pink;
    font-size:26px;
    color:#fff;
    line-height:45px;
    text-align:center;
    cursor:pointer;
}
.scoreMsg{
    text-align:center;
    display:none;
}
.content{
    width:500px;
    height:500px;
    /* background:green; */
    position:absolute;
    top:0;left:0;bottom:0;right:0;
    margin:auto;
    border-left:1px solid #b25f27;
    border-top:1px solid #000;
    box-shadow:5px 5px 5px rgba(0,0,0,.3);
    display:none;
}

.alter .alterImg{
    width:400px;
    height:250px;
    background:pink;
    position:absolute;
    top:0;left:0;bottom:0;right:0;
    margin:auto;
    border-radius:10px;
    display:none;    
}
.alter .alterBtn{
    width:50px;
    height:50px;
    background:rgb(91, 225, 230);
    position:absolute;
    top:0;
    right:0;
    border-radius:10px;    
}

.block{
    float:left;
    width:49px;
    height:49px;
    border-right:1px solid #b25f27;
    border-bottom:1px solid #b25f27;
    box-shadow:5px 5px 5px rgba(0,0,0,.3) inset;    
}
.show{
    background:#f40;
}

.num{
    background:#ecd0a1;
    font-size:18px;
    font-weight:bold;
    line-height:49px;
    text-align:center;
}
.flag{
    background:rgba(0,0,0,.8);
}