html,
body{
    margin:0;
    height:100%;
}
/* 1 */
.wrapper-position .left,
.wrapper-position .right{
    position: absolute;
    top:0;
    width:200px;
    height:100%;
}
.wrapper-position .left{
    left:0;
    background:green;
}
.wrapper-position .right{
    right:0;
    background:green;    
}
.wrapper-position .main{
    margin:0 210px;
    background:pink; 
    height:709px;       
}
/* 2 */
.wrapper-margin .main{
    width:100%;
    height:100%;
    float:left;
}
.wrapper-margin .main .body{
    margin:0 210px;
    background:pink; 
    height:709px; 
}
.wrapper-margin .left,
.wrapper-margin .right{
    float:left;
    width:200px;
    height:709px;
    background:green;    
}
.wrapper-margin .left{
    margin-left:-100%;
}
.wrapper-margin .right{
    margin-left:-200px;    
}
/* 3 */
.wrapper-float .main{
    margin:0 210px;
    background:pink; 
    height:709px; 
}
.wrapper-float .left,
.wrapper-float .right{
    width:200px;
    height:709px;
    background:green;        
}
.wrapper-float .left{
    float:left;
}
.wrapper-float .right{
    float:right;
}