*{
    margin:0;
    padding:0;
}
.clear-left{
    zoom:1;
}
.clear-left::after{
    content:"";
    display:block;
    clear:both;
}


.wrapper{
    width:1000px;
    margin:0 auto;
    border-right:1px solid #ccc;
}
h2{
    margin:0;
    padding-left:20px;
    height:70px;
    font-size:36px; 
    line-height:70px;
    color:#fff;   
    background:#858585;
    
}
.wrapper .deta .info{
    float:left;
    display:block;
    width:100px;
    height:100px;
    background-color:#d6d6d6;
    margin:0;
    text-align:center;
    line-height:100px;
    font-weight:bold;
    border-bottom:1px solid #fff;
}

.wrapper .deta .msg-block{
    display:block;
    height:90px;
    padding-top:10px;
    padding-left:110px;
    border-bottom:1px solid #ccc;    
}
.wrapper .deta .group .msg{
float:left;
display:block;
width:73px;
}
.wrapper .mesage .msg{ 
    font-weight:bold;
}

/* js交互 */
.hello{
    margin-left:50px;
    display:inline-block;
    width:60px;
    height:30px;
    background-image:linear-gradient(to bottom,#ccc,#d8d6d6);
    text-align:center;
    line-height:30px;
    border-radius:12px;
    cursor:pointer;
}