*{
	box-sizing: border-box;
}
body{
 margin:0;
 background:#454545;
 line-height:1.5;
	}

a, body{
	color:#eee;
		}
			
a{
	text-decoration:none;
		}
			
.side-bar{
 float:left;
 width:20%;
 position:fixed;
	}

.side-bar > * {
	padding:10px 15px;
		}

.main{
	float:right;
	width:80%;
		}

.header .logo{
	padding:10px 20px;
	font-size:30px;
	display:inline-block;
	border:5px solid #eee;
	margin-bottom:10px;
	line-height:1;
	}
		
	.side-bar .nav a,
	.side-bar .tag-list a{
		display:block;
		padding:5px;
		color:#888;
			}
				
	.side-bar .nav a:hover, 
	.side-bar .tag-list a:hover{
		color:#eee;
		font-weight:700;
			}
				
.article-list, .article{
	 margin-right:30%;
	 background:#fff;
	 padding:20px 30px;
	 color:#454545;
		}
			
	.article-list .item .title, .article .title{
		color:#454545;
		font-size:20px;
		font-weight:700;
			}
				
	.article-list .item .status, .article .stauts
		{
		 font-size:13px;
		 color:#ccc;
			}
				
	article-list .item{
		margin-bottom:25px;
			}
	
.article-list .item > *, .article .item > *
	{
	margin:10px 0;
		}
	#menu-checkbox{
		display: none;
	}
	#ment-checkbox,
	#menu-toggle{
		display:none;
	}



 























