/* 布局 */
html body{
    height:100%;
}
.wrapper{
    height:100%;
    background:#ccc;
}
.wrapper .menu{
    /* float:left; */
    position:absolute;    
    width:350px;
    background:#1d2531;      
}
.wrapper .chat{
    background:rgb(86, 235, 123);
    margin-left:350px;
}

.wrapper .menu{

}
.wrapper .menu .primary-menu{
    float:left;     
    width:100px;
    height:100%;
    /* min-height:735px;     */
}
.wrapper .menu .secondary-menu{
    height:100%;
    background:#222c3c;
    margin-left:100px;  
    /* min-height:735px;           */
}

/* 最左侧主要导航 */

.wrapper .menu .primary-menu .primary .item{
    width:60px;
    height:60px;
    border-radius:50%;
    margin: 20px auto 0;;
    position:relative;
    cursor:pointer;    
}
.wrapper .menu .primary-menu .primary .item a{
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    margin:auto;
}
.wrapper .menu .primary-menu .primary .item1{
    background-image:linear-gradient(to top,#1a92ec,#2da1f7);  
}
.wrapper .menu .primary-menu .primary .item2{
    background-image:linear-gradient(to top,#805de6,#9c8ee3); 
}
.wrapper .menu .primary-menu .primary .item3{
    background-image:linear-gradient(to top,#cc290c,#ea5238); 
}
.wrapper .menu .primary-menu .primary .item4{
    border:3px solid #2d3848;
}

.wrapper .menu .primary-menu .primary .item1 .icon{
    width:26px;
    height:26px;  
    background:url('../img/item.png') -15px -17px no-repeat;
}
.wrapper .menu .primary-menu .primary .item2 .icon{
    width:26px;
    height:35px;
    background:url('../img/item.png') -18px -94px no-repeat;
}
.wrapper .menu .primary-menu .primary .item3 .icon{
    width:33px;
    height:26px;
    background:url('../img/item.png') -15px -178px no-repeat;
}
.wrapper .menu .primary-menu .primary .item4 .icon{
    width:20px;
    height:20px;
    background:url('../img/plus-icon.png');
}

.wrapper .menu .primary-menu .setting .item{
    float:left;
    width:20px;
    height:20px;
    margin-bottom:20px;
    margin-left:20px;
    cursor:pointer;
} 
.wrapper .menu .primary-menu .setting .item1 {
    background:url('../img/bottom-actions.png') 0px 0px no-repeat;
} 
.wrapper .menu .primary-menu .setting .item2 {
    background:url('../img/bottom-actions.png') -20px 0px no-repeat;
} 

.wrapper .menu .primary-menu .primary{
    position:fixed; 
    margin-left:20px;
}
.wrapper .menu .primary-menu .setting{
    position:fixed; 
    bottom:12px;
}

/* 第二栏次要菜单栏 */
.wrapper .menu .secondary-menu{
    padding-left:28px;
    padding-right:28px;
}
.wrapper .menu .secondary-menu dl:nth-child(2){
    border-top:1px solid #4e5a6b;
    border-bottom:1px solid #4e5a6b;

}
.wrapper .menu .secondary-menu dt{
    color:#4e5a6b;
    padding-top:30px;
    padding-bottom:30px;
    font-size:12px;
    
}
.wrapper .menu .secondary-menu dd{
    margin-bottom:15px;
    color:#b7c0cd;
    font-size:14px;
}
/* 菜单部分结束 */
/* chat部分开始 */
.wrapper .chat .top-bar{
    color:#fff;
}
.wrapper .chat .messages{
    
}