*{
    margin:0;
    padding:0;
}
body{
    /* 临时 */
    background:#ccc;
}
/* 开始游戏按钮 */
.startPage{
    width:250px;
    height:100px;
    z-index: 999;
    /* 临时 */
   background:#0ff;
   position:absolute;
   left:0;top:0;right:0;bottom:0;
   margin:auto;
   /* display:none; */
}
.startPage .startB{
    font-size:36px;
    font-weight:bold;
    line-height:100px;
    color:#fff;
    text-align:center;
    cursor: pointer;
}

/* 内容 */
.wrapper{
    width:600px;
    height:735px;
    /* 临时 */
    background:#444;
    margin:0 auto;
    position:relative;
}
.wrapper .score{
    text-align:center;
    color:#fff;
}
.wrapper .content{
    width:600px;
    height:450px;
    /* 临时 */
    background:rgb(231, 99, 231);
    position:absolute;
    left:0;top:0;right:0;bottom:0;
    margin:auto;
}
/* 游戏结束 */
.loser{
    width:250px;
    height:100px;
    z-index:999;
    /* 临时 */
   background:#0f0;
   position:absolute;
   left:0;top:0;right:0;bottom:0;
   margin:auto;
   display:none;
}

.loser .close{
    width:38px;
    height:20px;
    color:#fff;
    text-align:center;
    background:rgb(66, 143, 3);
    position:absolute;
    right:0;
    cursor:pointer;
}
.loser .lose{
    font-size:36px;
    font-weight:bold;
    line-height:100px;
    color:#fff;
    text-align:center;
}
.loser .return{
    width:250px;
    height:20px;
    font-size:16px;
    color:#fff;
    text-align:center;
    background:rgb(166, 228, 96);
    cursor:pointer;    
}

.food{
    background:rgb(255, 0, 0);
    border-radius:50%;
}
.head{
    background:rgb(198, 243, 73);
    border-radius:50%;    
}
.body{
    background:rgb(238, 126, 22);
    border-radius:50%;    
}