* {
    margin: 0;
    padding: 0;
}
.wrapper{
    overflow:hidden;
}
.resume,
.introduce {
    height: 840px; 
}



.resume {
    background: #65a5fa;
}

.resume h2 {
    float: left;
    margin: 0;
    padding-top: 45px;
    width: 100%;
    font-size: 36px;
    color: #fff;
    text-align: center;
    margin-bottom: 36px;
}

.resume .photo {
    border-radius: 6px;
}

.resume .evaluation {
    margin-top: 12px;
    margin-left: 6px;
    line-height: 1.7;
}

.evaluation ul {
    list-style: square;
}

.introduce {    
    padding-left:26px;
    background: #ccc;
}

.introduce .info {
    display: block;
    padding: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.introduce .mesage .msg {
    font-weight: bold;
}

.introduce .deta .group .msg {
    padding-bottom: 5px;
}

#checkbox,
#toggle{
    display:none;
}
